<%- include('partials/header') %>


<!-- <div class="jumbotron centered"> -->
  <div class="container">
    
    <h1 class="display-6">Scraping news - Str Split</h1>
    <hr>
    
    <p>
      
    </p>

  </div>
<!-- </div> -->

<%- include('partials/footer') %>
